---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: false
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% assign projects = (site.projects | sort: 'date') | reverse %}
{% assign tags = projects | map: 'tags' | join: ','  | split: ',' | uniq | sort %}
{% for tag in tags %}
 <h3> {{ tag }} </h3>
{% endfor %}

{% for post in projects %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

